/*body{
    background-color: coral;
}
section.sound{
    display: flex;
    justify-content: space-between;
}

.sounds .sound1{
    display:flex;
    justify-content: space-around;
    background-color:brown;
    width:200px;
    height:200px;
} 

.sounds .sound2{
    background-color:brown;
    width:200px;
    height:200px;
} 

.sounds .sound3{
    background-color:brown;
    width:200px;
    height:200px;
} 

.sounds .sound4{
    background-color:brown;
    width:200px;
    height:200px;
} 

.sounds .sound5{
    background-color:brown;
    width:200px;
    height:200px;
} 

.sounds .sound6{
    background-color:brown;
    width:200px;
    height:200px;
} 

.sounds .sound7{
    background-color:brown;
    width:200px;
    height:200px;
} 

.sounds .sound8{
    background-color:brown;
    width:200px;
    height:200px;
} 

.sounds .sound9{
    background-color:brown;
    width:200px;
    height:200px;
} 

*/